In [1]:
# Carregando Bibliotecas Python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
# Carregando o dataset
dados = pd.read_csv("Ambas_Py.csv",encoding='latin1',sep=';',decimal=".")
dados['W'] = pd.to_numeric(dados['W'], errors='coerce')
dados

,Ambas,W,FTS,CS,BTS,TG,GF,GA,1.5,2.5,...,W1,FTS1,CS1,BTS1,TG1,GF1,GA1,1.51,2.51,3.51
0,0,0.31,0.19,0.31,0.56,2.13,1.25,0.88,0.81,0.31,...,0.27,0.47,0.20,0.47,2.40,1.00,1.40,0.67,0.53,0.33
1,0,0.43,0.43,0.29,0.57,2.43,1.57,0.86,0.57,0.57,...,0.14,0.43,0.29,0.57,1.57,0.71,0.86,0.57,0.29,0.00
2,1,0.50,0.25,0.62,0.38,2.38,1.63,0.75,0.62,0.38,...,0.25,0.25,0.38,0.62,2.00,1.13,0.88,0.75,0.50,0.00
3,1,0.60,0.20,0.20,0.60,2.80,2.00,0.80,0.80,0.60,...,0.00,0.80,0.20,0.20,1.20,0.20,1.00,0.20,0.20,0.00
4,0,0.33,0.33,0.33,0.50,2.50,1.17,1.33,0.83,0.50,...,0.50,0.00,0.50,0.50,2.67,1.33,1.33,0.50,0.50,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3607,0,0.75,0.12,0.50,0.38,4.25,3.50,0.75,1.00,0.62,...,0.12,0.50,0.00,0.50,5.25,0.75,4.50,1.00,1.00,0.75
3608,1,0.70,0.20,0.10,0.70,4.60,2.70,1.90,0.90,0.80,...,0.57,0.29,0.14,0.57,3.86,2.00,1.86,1.00,0.86,0.71
3609,1,0.56,0.22,0.22,0.56,4.56,2.89,1.67,1.00,0.78,...,0.50,0.20,0.20,0.70,4.10,2.40,1.70,0.80,0.80,0.60
3610,0,0.86,0.00,0.57,0.43,4.29,3.57,0.71,1.00,1.00,...,0.57,0.14,0.57,0.29,3.43,2.71,0.71,0.86,0.57,0.29
3611,1,0.50,0.00,0.30,0.70,3.60,2.10,1.50,0.90,0.80,...,0.33,0.33,0.11,0.56,4.11,1.78,2.33,0.89,0.89,0.78

In [3]:
#Verificar dados NAN
nan = dados.isnull().values.sum()
print(f'Dados NaN = {nan}')

#Remover dados NaN
dados_transform1 = pd.DataFrame(dados.dropna(axis=0, how='any'))
print(f'Dados NaN após transformação = {dados_transform1.isnull().values.sum()}')
print(f'Tamanho do dataset após transformação = {len(dados_transform1)}')

Dados NaN = 1
Dados NaN após transformação = 0
Tamanho do dataset após transformação = 3611

In [4]:
# Separar todos os dados que vão de 0 a 1
zero_um= dados.describe()
zero_um =zero_um.T
zero_um = pd.DataFrame(zero_um['max'])
name = zero_um[zero_um['max']<=1].index
dados_menor_um = dados[name]
dados_menor_um

,Ambas,W,FTS,CS,BTS,1.5,2.5,3.5,W1,FTS1,CS1,BTS1,1.51,2.51,3.51
0,0,0.31,0.19,0.31,0.56,0.81,0.31,0.06,0.27,0.47,0.20,0.47,0.67,0.53,0.33
1,0,0.43,0.43,0.29,0.57,0.57,0.57,0.43,0.14,0.43,0.29,0.57,0.57,0.29,0.00
2,1,0.50,0.25,0.62,0.38,0.62,0.38,0.12,0.25,0.25,0.38,0.62,0.75,0.50,0.00
3,1,0.60,0.20,0.20,0.60,0.80,0.60,0.40,0.00,0.80,0.20,0.20,0.20,0.20,0.00
4,0,0.33,0.33,0.33,0.50,0.83,0.50,0.33,0.50,0.00,0.50,0.50,0.50,0.50,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3607,0,0.75,0.12,0.50,0.38,1.00,0.62,0.50,0.12,0.50,0.00,0.50,1.00,1.00,0.75
3608,1,0.70,0.20,0.10,0.70,0.90,0.80,0.60,0.57,0.29,0.14,0.57,1.00,0.86,0.71
3609,1,0.56,0.22,0.22,0.56,1.00,0.78,0.78,0.50,0.20,0.20,0.70,0.80,0.80,0.60
3610,0,0.86,0.00,0.57,0.43,1.00,1.00,0.57,0.57,0.14,0.57,0.29,0.86,0.57,0.29
3611,1,0.50,0.00,0.30,0.70,0.90,0.80,0.50,0.33,0.33,0.11,0.56,0.89,0.89,0.78

- Variável: W

In [5]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['W'] = pd.cut(dados_menor_um['W'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"]) 


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('W')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('W')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
W
<0.1      0.44     0.72 -0.28
0.1-0.2   6.84     6.37  0.47
0.2-0.3   6.15     5.59  0.56
0.3-0.4   9.16     7.23  1.93
0.4-0.5   9.66     8.00  1.66
0.5-0.6   6.89     5.43  1.46
0.6-0.7   5.04     4.62  0.42
0.7-0.8   4.32     4.07  0.25
0.8-0.9   1.83     2.19 -0.36
>0.9      0.94     0.80  0.14

**Equipes com taxa de vitoria entre 0.3 até 0.6 tem mais probabilidade ter ambas marcam no jogo**

In [6]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.W>=0.3) &(dados.W <=0.6)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('W')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('W')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.44
dtype: float64

- Variável: FTS

In [7]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['FTS'] = pd.cut(dados_menor_um['FTS'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('FTS')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('FTS')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
FTS
<0.1      2.27     1.88  0.39
0.1-0.2  15.78    12.90  2.88
0.2-0.3   8.97     7.14  1.83
0.3-0.4   8.03     7.56  0.47
0.4-0.5   4.62     4.60  0.02
0.5-0.6   1.47     1.47  0.00
0.6-0.7   0.47     0.66 -0.19
0.7-0.8   0.33     0.86 -0.53
0.8-0.9   0.17     0.08  0.09
>0.9      0.00     0.00  0.00

**Equipes com 0.1 até 0.3 FTS tem mais probabilidade ter ambas marcam no jogo**

In [8]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.FTS>=0.1) &(dados.FTS <=0.3)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('FTS')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('FTS')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.45
dtype: float64

- CS

In [9]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['CS'] = pd.cut(dados_menor_um['CS'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])

#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('CS')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('CS')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
CS
<0.1      0.83     0.91 -0.08
0.1-0.2  13.59    10.41  3.18
0.2-0.3   8.83     8.28  0.55
0.3-0.4  10.24     8.58  1.66
0.4-0.5   7.09     7.23 -0.14
0.5-0.6   3.07     3.10 -0.03
0.6-0.7   1.80     1.55  0.25
0.7-0.8   0.97     1.16 -0.19
0.8-0.9   0.28     0.55 -0.27
>0.9      0.08     0.03  0.05

**Equipes com 0.1 até 0.3 CS tem mais probabilidade ter ambas marcam no jogo**

In [10]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.CS>=0.1) &(dados.CS <=0.3)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('CS')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('CS')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.45
dtype: float64

- BTS

In [11]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['BTS'] = pd.cut(dados_menor_um['BTS'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])

#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('BTS')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('BTS')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
BTS
<0.1      0.06     0.03  0.03
0.1-0.2   2.16     2.82 -0.66
0.2-0.3   2.80     3.21 -0.41
0.3-0.4   7.42     6.84  0.58
0.4-0.5  10.71     9.99  0.72
0.5-0.6   8.08     7.06  1.02
0.6-0.7   8.36     6.70  1.66
0.7-0.8   8.31     6.06  2.25
0.8-0.9   3.68     2.82  0.86
>0.9      1.30     1.08  0.22

**Equipes com 0.5 até 0.8 BTS tem mais probabilidade ter ambas marcam no jogo**

In [12]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.BTS>=0.5) &(dados.BTS <=0.8)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('BTS')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('BTS')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.45
dtype: float64

- 1.5

In [13]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['1.5'] = pd.cut(dados_menor_um['1.5'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('1.5')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('1.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
1.5
<0.1      0.00     0.00  0.00
0.1-0.2   0.11     0.30 -0.19
0.2-0.3   0.33     0.30  0.03
0.3-0.4   1.69     1.72 -0.03
0.4-0.5   4.10     3.82  0.28
0.5-0.6   4.32     4.18  0.14
0.6-0.7   6.98     6.26  0.72
0.7-0.8  10.44     9.72  0.72
0.8-0.9  12.79    11.30  1.49
>0.9     12.46     9.14  3.32

**Equipes com 0.8 até 1 tem mais probabilidade ter ambas marcam no jogo**

In [14]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados['1.5']>=0.8) &(dados['1.5'] <=1.0)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('1.5')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('1.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.44
dtype: float64

- 2.5

In [15]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['2.5'] = pd.cut(dados_menor_um['2.5'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('2.5')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('2.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
2.5
<0.1      0.08     0.06  0.02
0.1-0.2   2.96     2.38  0.58
0.2-0.3   3.46     4.24 -0.78
0.3-0.4   8.03     7.48  0.55
0.4-0.5   9.66     9.36  0.30
0.5-0.6   7.48     5.95  1.53
0.6-0.7   6.09     5.18  0.91
0.7-0.8   6.56     4.98  1.58
0.8-0.9   5.62     3.85  1.77
>0.9      2.91     2.46  0.45

**Equipes com 0.7 até 0.9 tem mais probabilidade ter ambas marcam no jogo**

In [16]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados['2.5']>=0.7) &(dados['2.5'] <=1.0)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('2.5')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('2.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.57
N_Ambas    0.42
dtype: float64

- 3.5

In [17]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['3.5'] = pd.cut(dados_menor_um['3.5'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('3.5')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('3.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
3.5
<0.1      1.91     2.10 -0.19
0.1-0.2  10.58    10.55  0.03
0.2-0.3   7.72     7.23  0.49
0.3-0.4   9.36     7.67  1.69
0.4-0.5   7.97     5.87  2.10
0.5-0.6   3.77     2.99  0.78
0.6-0.7   2.80     2.21  0.59
0.7-0.8   2.57     1.80  0.77
0.8-0.9   0.89     0.83  0.06
>0.9      0.28     0.25  0.03

**Equipes com 0.3 até 0.5 tem mais probabilidade ter ambas marcam no jogo**

In [18]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados['3.5']>=0.3) &(dados['2.5'] <=0.5)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('3.5')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('3.5')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.53
N_Ambas    0.46
dtype: float64

- W1

In [19]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['W1'] = pd.cut(dados_menor_um['W1'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('W1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('W1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
W1
<0.1      1.14     1.36 -0.22
0.1-0.2  12.21    10.16  2.05
0.2-0.3   9.36     7.83  1.53
0.3-0.4   9.80     8.61  1.19
0.4-0.5   7.83     6.06  1.77
0.5-0.6   2.96     3.35 -0.39
0.6-0.7   2.13     1.52  0.61
0.7-0.8   1.50     1.25  0.25
0.8-0.9   0.58     0.66 -0.08
>0.9      0.39     0.25  0.14

**Equipes com  0.1 até 0.5 tem mais probabilidade ter ambas marcam no jogo**

In [20]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.W1>=0.1) &(dados.W1 <=0.5)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('W1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('W1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.54
N_Ambas    0.46
dtype: float64

- FTS1

In [21]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['FTS1'] = pd.cut(dados_menor_um['FTS1'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('FTS1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('FTS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
FTS1
<0.1      1.19     1.22 -0.03
0.1-0.2  13.37     9.83  3.54
0.2-0.3   8.69     7.42  1.27
0.3-0.4   9.94     9.75  0.19
0.4-0.5   7.17     6.95  0.22
0.5-0.6   3.46     3.41  0.05
0.6-0.7   1.77     1.88 -0.11
0.7-0.8   0.89     0.91 -0.02
0.8-0.9   0.25     0.14  0.11
>0.9      0.06     0.11 -0.05

**Equipes com  até 0.3 tem mais probabilidade ter ambas marcam no jogo**

In [22]:
#Porcentagem de ganho em ambas marcam
result = dados[dados.FTS1 <=0.3] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('FTS1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('FTS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.56
N_Ambas    0.44
dtype: float64

- CS1

In [23]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['CS1'] = pd.cut(dados_menor_um['CS1'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('CS1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('CS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
CS1
<0.1      1.66     2.24 -0.58
0.1-0.2  16.09    13.18  2.91
0.2-0.3   8.89     8.11  0.78
0.3-0.4   7.59     7.56  0.03
0.4-0.5   5.23     4.35  0.88
0.5-0.6   1.61     1.55  0.06
0.6-0.7   0.69     0.69  0.00
0.7-0.8   0.28     0.53 -0.25
0.8-0.9   0.03     0.11 -0.08
>0.9      0.11     0.14 -0.03

**Equipes com 0.1 até 0.5 tem mais probabilidade ter ambas marcam no jogo**

In [24]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.CS1>=0.1) &(dados.CS1 <=0.5)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('CS1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('CS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.53
N_Ambas    0.47
dtype: float64

- BTS1

In [25]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['BTS1'] = pd.cut(dados_menor_um['BTS1'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('BTS1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('BTS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
BTS1
<0.1      0.14     0.06  0.08
0.1-0.2   2.24     2.69 -0.45
0.2-0.3   2.99     2.74  0.25
0.3-0.4   7.00     6.62  0.38
0.4-0.5  11.74    10.52  1.22
0.5-0.6   8.89     7.70  1.19
0.6-0.7   7.39     7.17  0.22
0.7-0.8   7.83     5.23  2.60
0.8-0.9   3.27     2.82  0.45
>0.9      1.44     0.91  0.53

**Equipes acima de 0.4 tem mais probabilidade ter ambas marcam no jogo**

In [26]:
#Porcentagem de ganho em ambas marcam
result = dados[dados.BTS1 >=0.4] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('BTS1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('BTS1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.54
N_Ambas    0.46
dtype: float64

- 1.51

In [27]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['1.51'] = pd.cut(dados_menor_um['1.51'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('1.51')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('1.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
1.51
<0.1      0.00     0.00  0.00
0.1-0.2   0.14     0.08  0.06
0.2-0.3   0.36     0.36  0.00
0.3-0.4   1.47     1.74 -0.27
0.4-0.5   3.63     3.85 -0.22
0.5-0.6   4.62     4.65 -0.03
0.6-0.7   7.34     7.17  0.17
0.7-0.8  11.16     9.83  1.33
0.8-0.9  12.35    10.30  2.05
>0.9     12.15     8.78  3.37

**Equipes acima de 0.7 tem mais probabilidade ter ambas marcam no jogo**

In [28]:
#Porcentagem de ganho em ambas marcam
result = dados[dados['1.51']>=0.7] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('1.51')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('1.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.45
dtype: float64

- 2.51

In [29]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['2.51'] = pd.cut(dados_menor_um['2.51'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('2.51')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('2.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
2.51
<0.1      0.17     0.17  0.00
0.1-0.2   2.91     3.38 -0.47
0.2-0.3   3.68     3.74 -0.06
0.3-0.4   7.39     7.75 -0.36
0.4-0.5   9.66     9.30  0.36
0.5-0.6   6.62     5.79  0.83
0.6-0.7   6.98     5.81  1.17
0.7-0.8   6.45     5.26  1.19
0.8-0.9   5.48     3.35  2.13
>0.9      3.05     1.80  1.25

**Equipes acima de 0.6 tem mais probabilidade ter ambas marcam no jogo**

In [30]:
#Porcentagem de ganho em ambas marcam
result = dados[dados['2.51']>=0.6] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('2.51')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('2.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.57
N_Ambas    0.43
dtype: float64

- 3.51

In [31]:
# Agrupando os dados

bins=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

dados_menor_um['3.51'] = pd.cut(dados_menor_um['3.51'],bins, labels=["<0.1", "0.1-0.2", "0.2-0.3", "0.3-0.4", 
                                                                "0.4-0.5","0.5-0.6",
                                                                "0.6-0.7","0.7-0.8","0.8-0.9",">0.9"])


#Ambas
amb = dados_menor_um[dados_menor_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('3.51')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_menor_um[dados_menor_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('3.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

         Ambas  N_Ambas   Dif
3.51
<0.1      2.02     1.69  0.33
0.1-0.2   9.80    11.79 -1.99
0.2-0.3   7.56     7.39  0.17
0.3-0.4   9.99     8.11  1.88
0.4-0.5   8.28     5.68  2.60
0.5-0.6   3.74     3.13  0.61
0.6-0.7   2.91     2.13  0.78
0.7-0.8   2.52     1.58  0.94
0.8-0.9   0.91     0.53  0.38
>0.9      0.19     0.06  0.13

**Equipes acima de 0.3 tem mais probabilidade ter ambas marcam no jogo**

In [32]:
#Porcentagem de ganho em ambas marcam
result = dados[dados['3.51']>=0.3] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('3.51')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('3.51')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.57
N_Ambas    0.43
dtype: float64

## Separar todos os dados > 1

In [33]:
# Separar todos os dados > 1
maior_um = dados.describe()
maior_um =maior_um.T
maior_um = pd.DataFrame(maior_um['max'])
name = maior_um[maior_um['max']>1].index
dados_maior_um = dados[name]
dados_maior_um['Ambas'] = dados.Ambas
dados_maior_um

        TG    GF    GA   TG1   GF1   GA1  Ambas
0     2.13  1.25  0.88  2.40  1.00  1.40      0
1     2.43  1.57  0.86  1.57  0.71  0.86      0
2     2.38  1.63  0.75  2.00  1.13  0.88      1
3     2.80  2.00  0.80  1.20  0.20  1.00      1
4     2.50  1.17  1.33  2.67  1.33  1.33      0
...    ...   ...   ...   ...   ...   ...    ...
3607  4.25  3.50  0.75  5.25  0.75  4.50      0
3608  4.60  2.70  1.90  3.86  2.00  1.86      1
3609  4.56  2.89  1.67  4.10  2.40  1.70      1
3610  4.29  3.57  0.71  3.43  2.71  0.71      0
3611  3.60  2.10  1.50  4.11  1.78  2.33      1

[3612 rows x 7 columns]

In [34]:
dados_maior_um.describe()

,TG,GF,GA,TG1,GF1,GA1,Ambas
count,3612.000000,3612.000000,3612.000000,3612.000000,3612.000000,3612.000000,3612.000000
mean,2.874538,1.598336,1.276584,2.865872,1.293386,1.572721,0.532115
std,0.893640,0.714479,0.602407,0.884979,0.610518,0.689123,0.499037
min,0.670000,0.170000,0.000000,0.500000,0.000000,0.000000,0.000000
25%,2.207500,1.117500,0.860000,2.200000,0.860000,1.110000,0.000000
50%,2.750000,1.500000,1.170000,2.750000,1.200000,1.450000,1.000000
75%,3.430000,2.000000,1.600000,3.430000,1.600000,1.940000,1.000000
max,7.600000,6.330000,4.290000,6.330000,5.500000,5.200000,1.000000

In [35]:
#Mudar o nome das variáveis
dados_maior_um.columns = ['TG','GF','GA','TG1','GF1','GA1','Ambas']

- TG

In [36]:
# Agrupando os dados

bins=[0,1,2,3,4,5,6,7,7.6]

dados_maior_um['TG'] = pd.cut(dados_maior_um['TG'],bins, labels=["<1", "1-2", "2-3", "3-4", 
                                                                "4-5","5-6","6-7",">7"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('TG')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('TG')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
TG
<1    0.14     0.39 -0.25
1-2   8.91     8.55  0.36
2-3  22.76    20.90  1.86
3-4  15.39    12.07  3.32
4-5   5.29     4.40  0.89
5-6   0.69     0.33  0.36
6-7   0.03     0.11 -0.08
>7    0.00     0.03 -0.03

**Equipes entre 2 e 4 tem mais probabilidade ter ambas marcam no jogo**

In [37]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.TG>=2) &(dados.TG <=4)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('TG')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('TG')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.53
N_Ambas    0.46
dtype: float64

- GF

In [38]:
# Agrupando os dados

bins=[0,1,2,3,4,5,6,7]

dados_maior_um['GF'] = pd.cut(dados_maior_um['GF'],bins, labels=["<1", "1-2", "2-3", "3-4", 
                                                                "4-5","5-6","6-7"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GF')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GF')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
GF
<1   10.99    11.68 -0.69
1-2  30.70    25.25  5.45
2-3   9.50     7.95  1.55
3-4   1.69     1.61  0.08
4-5   0.33     0.19  0.14
5-6   0.00     0.06 -0.06
6-7   0.00     0.06 -0.06

**Equipes entre 1 e 3 tem mais probabilidade ter ambas marcam no jogo**

In [39]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.GF>=1) &(dados.GF <=3)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GF')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GF')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.44
dtype: float64

- GA

In [40]:
# Agrupando os dados

bins=[0,1,2,3,4,5]

dados_maior_um['GA'] = pd.cut(dados_maior_um['GA'],bins, labels=["<1", "1-2", "2-3", "3-4","4-5"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GA')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GA')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
GA
<1   20.51    20.29  0.22
1-2  26.69    22.54  4.15
2-3   5.29     3.38  1.91
3-4   0.55     0.55  0.00
4-5   0.08     0.00  0.08

**Equipes entre 1 e 3 tem mais probabilidade ter ambas marcam no jogo**

In [41]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.GA>=1) &(dados.GA <=3)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GA')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GA')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.54
N_Ambas    0.45
dtype: float64

- TG1

In [42]:
# Agrupando os dados

bins=[0,1,2,3,4,5,6,7]

dados_maior_um['TG1'] = pd.cut(dados_maior_um['TG1'],bins, labels=["<1", "1-2", "2-3", "3-4", 
                                                                "4-5","5-6","6-7"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('TG1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('TG1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
TG1
<1    0.11     0.22 -0.11
1-2   8.83     9.52 -0.69
2-3  22.51    21.43  1.08
3-4  15.31    11.82  3.49
4-5   5.54     3.38  2.16
5-6   0.80     0.39  0.41
6-7   0.11     0.03  0.08

**Equipes entre 2 e 5 tem mais probabilidade ter ambas marcam no jogo**

In [43]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[(dados.TG1>=2) &(dados.TG1 <=5)] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('TG1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('TG1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.54
N_Ambas    0.45
dtype: float64

- GF1

In [44]:
# Agrupando os dados

bins=[0,1,2,3,4,5,6]

dados_maior_um['GF1'] = pd.cut(dados_maior_um['GF1'],bins, labels=["<1", "1-2", "2-3", "3-4", 
                                                                "4-5","5-6"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GF1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GF1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
GF1
<1   19.32    20.38 -1.06
1-2  28.24    21.93  6.31
2-3   4.54     4.01  0.53
3-4   0.94     0.36  0.58
4-5   0.06     0.00  0.06
5-6   0.06     0.00  0.06

**Equipes acima de 1 tem mais probabilidade ter ambas marcam no jogo**

In [45]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[dados.GF1>=1 ] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GF1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GF1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.55
N_Ambas    0.44
dtype: float64

- GA1

In [46]:
# Agrupando os dados

bins=[0,1,2,3,4,5,6]

dados_maior_um['GA1'] = pd.cut(dados_maior_um['GA1'],bins, labels=["<1", "1-2", "2-3", "3-4", 
                                                                "4-5","5-6"])


#Ambas
amb = dados_maior_um[dados_maior_um.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GA1')['Ambas'].count())
amb

#Nao Ambas
n_amb = dados_maior_um[dados_maior_um.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GA1')['Ambas'].count())
amb['N_Ambas'] = n_amb

#Total 
dif = round((amb/len(dados))*100,2)
dif['Dif'] = dif.Ambas - dif.N_Ambas
dif

     Ambas  N_Ambas   Dif
GA1
<1   10.96    11.49 -0.53
1-2  31.04    26.50  4.54
2-3   9.14     7.17  1.97
3-4   1.63     1.25  0.38
4-5   0.30     0.25  0.05
5-6   0.03     0.00  0.03

**Equipes acima de 1 tem mais probabilidade ter ambas marcam no jogo**

In [47]:
#Porcentagem de ganho em ambas marcam
result = dados.loc[dados.GA1>=1 ] 

#Ambas
amb = result[result.Ambas ==1]
amb = pd.DataFrame(amb.groupby('GA1')['Ambas'].count())

#Nao Ambas
n_amb = result[result.Ambas ==0]
n_amb = pd.DataFrame(n_amb.groupby('GA1')['Ambas'].count())
amb['N_Ambas'] = n_amb

round(amb.sum()/len(result),2)

Ambas      0.54
N_Ambas    0.45
dtype: float64

In [48]:
#Criar uma variável para cada filtro

W = dados.loc[(dados.W>=0.3) &(dados.W <=0.6)]
FTS = dados.loc[(dados.FTS>=0.1) &(dados.FTS <=0.3)]
CS = dados.loc[(dados.CS>=0.1) &(dados.CS <=0.3)]
BTS = dados.loc[(dados.BTS>=0.5) &(dados.BTS <=0.8)]
A1_5 = dados.loc[(dados['1.5']>=0.8) &(dados['1.5'] <=1.0)]
A2_5 = dados.loc[(dados['2.5']>=0.7) &(dados['2.5'] <=1.0)]
A3_5 = dados.loc[(dados['3.5']>=0.3) &(dados['2.5'] <=0.5)]
W1 = dados.loc[(dados.W1>=0.1) &(dados.W1 <=0.5)]
FTS1 = dados[dados.FTS1 <=0.3]
CS1 = dados.loc[(dados.CS1>=0.1) &(dados.CS1 <=0.5)]
BTS1 = dados[dados.BTS1 >=0.4]
B1_5 = dados[dados['1.51']>=0.7]
B2_5 = dados[dados['2.51']>=0.6]
B3_5 = dados[dados['3.51']>=0.3]
TG = dados.loc[(dados.TG>=2) &(dados.TG <=4)]
GF = dados.loc[(dados.GF>=1) &(dados.GF <=3)]
GA = dados.loc[(dados.GA>=1) &(dados.GA <=3)]
TG1 = dados.loc[(dados.TG1>=2) &(dados.TG1 <=5)]
GF1 = dados.loc[dados.GF1>=1 ]
GA1 = dados.loc[dados.GA1>=1 ]

In [329]:
#Filtro entro 2 variáveis
W.loc[(W.W==W.W)&(FTS.FTS==FTS.FTS)]

,Ambas,W,FTS,CS,BTS,TG,GF,GA,1.5,2.5,...,W1,FTS1,CS1,BTS1,TG1,GF1,GA1,1.51,2.51,3.51
0,0,0.31,0.19,0.31,0.56,2.13,1.25,0.88,0.81,0.31,...,0.27,0.47,0.20,0.47,2.40,1.00,1.40,0.67,0.53,0.33
2,1,0.50,0.25,0.62,0.38,2.38,1.63,0.75,0.62,0.38,...,0.25,0.25,0.38,0.62,2.00,1.13,0.88,0.75,0.50,0.00
3,1,0.60,0.20,0.20,0.60,2.80,2.00,0.80,0.80,0.60,...,0.00,0.80,0.20,0.20,1.20,0.20,1.00,0.20,0.20,0.00
17,1,0.45,0.18,0.45,0.45,2.82,1.55,1.27,0.73,0.64,...,0.10,0.40,0.10,0.60,2.70,0.90,1.80,0.80,0.70,0.20
19,1,0.44,0.19,0.25,0.56,2.19,1.19,1.00,0.62,0.38,...,0.06,0.44,0.06,0.56,2.75,0.63,2.13,0.81,0.56,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3587,0,0.44,0.11,0.11,0.89,4.33,2.67,1.67,0.89,0.78,...,0.38,0.00,0.25,0.75,5.25,3.00,2.25,1.00,1.00,0.88
3594,0,0.56,0.22,0.22,0.67,4.11,2.67,1.44,0.89,0.89,...,0.43,0.29,0.14,0.57,3.29,1.57,1.71,1.00,0.71,0.43
3595,1,0.44,0.22,0.11,0.67,4.22,2.11,2.11,0.89,0.67,...,0.50,0.00,0.25,0.75,3.50,2.13,1.38,1.00,0.75,0.38
3601,1,0.56,0.22,0.22,0.67,3.78,2.67,1.11,0.78,0.67,...,0.00,0.12,0.12,0.88,3.50,1.00,2.50,0.88,0.62,0.38
3609,1,0.56,0.22,0.22,0.56,4.56,2.89,1.67,1.00,0.78,...,0.50,0.20,0.20,0.70,4.10,2.40,1.70,0.80,0.80,0.60

## Criar um filtro entre 2 variáveis aleatorias

In [49]:
#Escolhendo 2 colunas aleatorias e deixando dentro da variável g e h
a = [W, FTS, CS, BTS, TG, GF, GA, A1_5, A2_5,
       A3_5, W1, FTS1, CS1, BTS1, TG1, GF1, GA1,B1_5,
       B2_5, B3_5]
g = np.random.choice(a)
h = np.random.choice(a)

In [50]:
#Erro

#Variável g não retorna o nome da variável para aplicar o filtro

g.loc[(g.g==g.g)&(h.h==h.h)]

AttributeError: 'DataFrame' object has no attribute 'g'

In [51]:
#Variável g retorna o dataset
g

,Ambas,W,FTS,CS,BTS,TG,GF,GA,1.5,2.5,...,W1,FTS1,CS1,BTS1,TG1,GF1,GA1,1.51,2.51,3.51
16,1,0.50,0.40,0.80,0.10,1.40,1.20,0.20,0.50,0.20,...,0.20,0.50,0.20,0.40,2.50,0.80,1.70,0.80,0.70,0.10
17,1,0.45,0.18,0.45,0.45,2.82,1.55,1.27,0.73,0.64,...,0.10,0.40,0.10,0.60,2.70,0.90,1.80,0.80,0.70,0.20
22,0,0.25,0.50,0.25,0.25,2.00,1.00,1.00,0.50,0.50,...,0.20,0.20,0.00,0.80,3.00,1.20,1.80,1.00,0.60,0.20
23,0,0.20,0.20,0.00,0.80,2.80,1.60,1.20,1.00,0.20,...,0.00,0.40,0.00,0.60,3.00,1.00,2.00,1.00,0.60,0.40
24,1,0.67,0.17,0.33,0.50,2.50,1.83,0.67,0.83,0.50,...,0.20,0.60,0.00,0.40,3.00,0.80,2.20,0.80,0.80,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3606,1,0.67,0.17,0.17,0.67,3.83,3.00,0.83,0.83,0.67,...,0.57,0.00,0.43,0.57,4.71,3.57,1.14,1.00,0.71,0.71
3607,0,0.75,0.12,0.50,0.38,4.25,3.50,0.75,1.00,0.62,...,0.12,0.50,0.00,0.50,5.25,0.75,4.50,1.00,1.00,0.75
3608,1,0.70,0.20,0.10,0.70,4.60,2.70,1.90,0.90,0.80,...,0.57,0.29,0.14,0.57,3.86,2.00,1.86,1.00,0.86,0.71
3609,1,0.56,0.22,0.22,0.56,4.56,2.89,1.67,1.00,0.78,...,0.50,0.20,0.20,0.70,4.10,2.40,1.70,0.80,0.80,0.60
3611,1,0.50,0.00,0.30,0.70,3.60,2.10,1.50,0.90,0.80,...,0.33,0.33,0.11,0.56,4.11,1.78,2.33,0.89,0.89,0.78